* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: hsl(0, 0%, 8%);
	color: white;
	line-height: 1.5em;
	font-family: "Inter";
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: hsl(0, 0%, 12%);
	width: 60vh;
	height: auto;
	padding: 1em;
	border-radius: 1em;
}

figure {
	margin: 1.5em 5em;
}

img {
	border-radius: 50%;
	width: 5em;
}

h1 {
	margin-bottom: 0.3em;
	font-size: 2em;
}

h2 {
	color: hsl(75, 94%, 57%);
	margin-bottom: 0.5em;
	font-size: 1.1em;
}

blockquote {
	margin: 1em 0;
	font-size: 1.1em;
}

a {
	padding: 1em;
	background-color: hsl(0, 0%, 20%);
	width: 90%;
	border-radius: 0.5em;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 1em;
	font-weight: 700;
	margin-bottom: 1em;
}

a:hover {
	text-decoration: none;
	color: black;
	background-color: hsl(75, 94%, 57%);
}
